*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefef;
}

header{
    background-color: #795745;
    width: 100%;
    height: 160px;
/*    position: absolute;*/
    z-index: 1;
}

h2,span{font-family: quicksand regular; color: #af1e59;}

p{
    font-family: karla;
    color: #5e4337;
}

header{
    width: 100%;
}

header > img{
    width: 250px;
    margin: auto;
    display: flex;
}

.cabeca{
    position: relative;
}

.titulo{
    position: absolute;
    bottom:50px;
    left: 30px;
}

.titulo span{
    font-size: 40px;
    left: 60px;
}

.titulo p{
    font-size: 20px;
    width: 300px;
}

.marca{
    background-color: #d8d8d8;
    width: 98%;
    height: 1050px;
    margin: auto;
    box-sizing: border-box;
}

.marca h2, .cores h2, .semCores h2{
    text-align: center;
    font-size: 60px;
    height: 75px;
    color: #af1e59;
}

.marca > .linhaM{
    width: 100%;
}

.marca > p{
    
    width: 80%;
/*    height: 200px;*/
    text-align: justify;
    font-size: 27px;
    margin: auto;
    margin-top: 80px;
}

.imagens{
    position: relative;
    width: 500px;
    height: 550px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
}

.imagens .menor{
    width: 400px;
}

.imagens .menor, .maior{
    margin: auto;
    display: flex;
}

.imagens .maior{
    animation-name: rodar;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    width: 250px;
    bottom: 10px;
    border-radius: 50%;
}

.cores, .semCores{
    background-color: #efefef;
    width: 98%;
    height: 650px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.cores{color: #af1e59;}

.cores .tocaquicores img{
    margin-top: 100px;
    width: 800px;
}

.semCores .comc img{
    width: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.cores p, .semCores p{
    width: 80%;
    font-size: 30px;
    font-weight: normal;
    margin: auto;
    margin-top: 50px;
}

.semc{color: #e5971s;}

.linhaR{
    width: 100%;
}

.marca, .cores, .semCores{
    margin-top: 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

@keyframes rodar {
    to{transform: rotate(0deg);}
    
    from{transform: rotate(360deg);}
}
