*{
    margin: 0;
    padding: 0;
}

body{background-color: #efefef;}

header{
    background-color: #5e4337;
    width: 100%;
    height: 160px;
/*    position: absolute;*/
    z-index: 1;
}

h2,span
{font-family: quicksand regular; color:#5e4337}

span{
    color: white;
}

p{
    font-family: karla;
    color: #5e4337;
}

header{width: 100%;}

header > img{
    width: 250px;
    margin: auto;
    display: flex;
}

.cabeca{position: relative;}

.cabeca .capa img{
    
}

.marca h2, 
.cores h2, 
.semCores h2, 
.dimensao h2,
.marca2 h2,
.naofazer h2,
.tipografia h2
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
}

.titulo{
    position: absolute;
    bottom:50px;
    left: 30px;
}

.titulo span{
    font-size: 47px;
    left: 60px;
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
}

.titulo p{
    font-size: 20px;
    width: 300px;
    position: relative;
    text-align: center;
    margin: auto;
    display: flex;
}

.marca, 
.marca2, 
.cores, 
.semCores, 
.dimensao, 
.naofazer,
.tipografia
{
    position: relative;
    background-color: white;
    width: 98%;
    height: 2420px;
    margin: auto;
    box-sizing: border-box;
    
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}
.marca{
    margin-top: 0px;
}

.cores{
    height: 1700px;
}

.marca2{
    height: 1500px;
}
  
.dimensao{
    width: 98%;
    height: 1370px;
}

.semCores{
    position: relative;
    height: 1200px;
}

.naofazer{
    position: relative;
    height: 5500px;
}

.tipografia{
    position: relative;
    height: 1900px;
}

.marca .linha img, 
.cores .linha img, 
.semCores .linha img,
.marca2 .linha img,
.dimensao .linha img,
.naofazer .linha img,
.tipografica .linha img,
{
    width: 100%;
}

.marca .linhaB img, 
.cores .linhaB img, 
.semCores .linhaB img,
.marca2 .linhaB img,
.dimensao .linhaB img,
.naofazer .linhaB img,
.tipografia .linhaB img
{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.marca > p, 
.marca2 > p, 
.dimensao p, 
.naofazer p,
.tipografia p

{
    
    width: 90%;
    text-align: justify;
    font-size: 40px;
    margin: auto;
    margin-top: 60px;
}

.cores p, 
.semCores p, 
.dimensao p
{
    width: 80%;
    font-size: 40px;
    font-weight: normal;
    margin: auto;
    display: flex;
    margin-top: 150px;
}

.semCores p{
    margin-top: 150px;
}

.imagens{
    position: relative;
    width: 800px;
    height: 850px;
    padding: 40px;
    box-sizing: border-box;
    
    margin: auto;
}

.imagens .maior{
    animation-name: rodar;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    width: 450px;
    bottom: 10px;
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.cores{color: #af1e59;}

.cores .tocaquicores img{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width: 600px;
}

.semCores .semc img{
    width: 800px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.naofazer .nao img{
    width: 800px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.tipografia .tipo img{
    width: 800px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.semc{color: #e5971s;}

.imagens2{
    margin: auto;    
}

.imagens2 > img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

.dimensao .dimens img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

@keyframes rodar {
    to{transform: rotate(0deg);}
    
    from{transform: rotate(360deg);}
}
