
*{
    margin: 0;
    padding: 0;
}

body{background-color: #efefef;}

header{
    background-color: #795745;
    width: 100%;
    height: 160px;
/*    position: absolute;*/
    z-index: 1;
}

h2,span
{font-family: quicksand regular; color: #af1e59;}

p{
    font-family: karla;
    color: #5e4337;
}

header{width: 100%;}

header > img{
    width: 250px;
    margin: auto;
    display: flex;
}

.cabeca{position: relative;}

.titulo{
    position: absolute;
    bottom:50px;
    left: 30px;
}

.titulo span{
    font-size: 40px;
    left: 60px;
}

.titulo p{
    font-size: 20px;
    width: 300px;
}

.marca, .marca2, .cores, .semCores, .dimensao{
    background-color: white;
    width: 98%;
    height: 1050px;
    margin: auto;
    box-sizing: border-box;
    
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

.marca .linha .linhaR, 
.cores .linha .linhaM, 
.semCores .linha .linhaA,
.marca2 .linha .linhaM,
.dimensao .linha. .linhaR

{
    width: 100%;
}

.marca > p, .marca2 > p, .dimensao p{
    
    width: 80%;
/*    height: 200px;*/
    text-align: justify;
    font-size: 28px;
    margin: auto;
    margin-top: 60px;
}

.imagens{
    position: relative;
    width: 500px;
    height: 550px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
}

.imagens .menor{
    width: 400px;
}

.imagens .menor, .maior{
    margin: auto;
    display: flex;
}

.imagens .maior{
    animation-name: rodar;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    width: 250px;
    bottom: 10px;
    border-radius: 50%;
}

.cores, .semCores, .dimensao{
    width: 98%;
    height: 670px;
}

.cores{color: #af1e59;}

.cores .tocaquicores img{
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 800px;
}

.semCores .comc img{
    width: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.cores p, .semCores p, .dimensao p{
    width: 80%;
    font-size: 25px;
    font-weight: normal;
    margin: auto;
    display: flex;
    margin-top: 70px;
}

.semc{color: #e5971s;}

.imagens2{
    margin: auto;    
}

.imagens2 > img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

.dimensao{
    height: 770px;
}

.dimensao .dimens img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}


@keyframes rodar {
    to{transform: rotate(0deg);}
    
    from{transform: rotate(360deg);}
}

*{
    margin: 0;
    padding: 0;
}

body{background-color: #efefef;}

header{
    background-color: #795745;
    width: 100%;
    height: 160px;
/*    position: absolute;*/
    z-index: 1;
}

h2,span
{font-family: quicksand regular; color: #af1e59;}

p{
    font-family: karla;
    color: #5e4337;
}

header{width: 100%;}

header > img{
    width: 250px;
    margin: auto;
    display: flex;
}

.cabeca{position: relative;}

.titulo{
    position: absolute;
    bottom:50px;
    left: 30px;
}

.titulo span{
    font-size: 40px;
    left: 60px;
}

.titulo p{
    font-size: 20px;
    width: 300px;
}

.marca, .marca2, .cores, .semCores, .dimensao{
    background-color: white;
    width: 98%;
    height: 1050px;
    margin: auto;
    box-sizing: border-box;
    
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

.marca .linha .linhaR, 
.cores .linha .linhaM, 
.semCores .linha .linhaA,
.marca2 .linha .linhaM,
.dimensao .linha. .linhaR

{
    width: 100%;
}

.marca > p, .marca2 > p, .dimensao p{
    
    width: 80%;
/*    height: 200px;*/
    text-align: justify;
    font-size: 28px;
    margin: auto;
    margin-top: 60px;
}

.imagens{
    position: relative;
    width: 500px;
    height: 550px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
}

.imagens .menor{
    width: 400px;
}

.imagens .menor, .maior{
    margin: auto;
    display: flex;
}

.imagens .maior{
    animation-name: rodar;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    width: 250px;
    bottom: 10px;
    border-radius: 50%;
}

.cores, .semCores, .dimensao{
    width: 98%;
    height: 670px;
}

.cores{color: #af1e59;}

.cores .tocaquicores img{
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 800px;
}

.semCores .comc img{
    width: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.cores p, .semCores p, .dimensao p{
    width: 80%;
    font-size: 25px;
    font-weight: normal;
    margin: auto;
    display: flex;
    margin-top: 70px;
}

.semc{color: #e5971s;}

.imagens2{
    margin: auto;    
}

.imagens2 > img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

.dimensao{
    height: 770px;
}

.dimensao .dimens img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}


@keyframes rodar {
    to{transform: rotate(0deg);}
    
    from{transform: rotate(360deg);}
}
>>>>>>> c9e8001c5704546760d26096829d0614b9ff0ace:indexcss.css
