*{
    margin: 0;
    padding: 0;
}

body{background-color: #efefef;}

header{
    background-color: #5e4337;
    width: 100%;
    height: 160px;
/*    position: absolute;*/
    z-index: 1;
}

h2,span
{font-family: quicksand regular; color: #795745;}

p{
    font-family: karla;
    color: #5e4337;
}

header{width: 100%;}

header > img{
    width: 250px;
    margin: auto;
    display: flex;
}

.cabeca{position: relative;}

.marca h2, 
.cores h2, 
.semCores, 
.dimensao h2
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
}

.titulo{
    position: absolute;
    bottom:50px;
    left: 30px;
}

.titulo span{
    font-size: 47px;
    left: 60px;
}

.titulo p{
    font-size: 20px;
    width: 300px;
}

.marca, .marca2, .cores, .semCores, .dimensao{
    position: relative;
    background-color: white;
    width: 98%;
    height: 2420px;
    margin: auto;
    box-sizing: border-box;
    
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

.cores{
    height: 1700px;
}

.marca2{
    height: 1600px;
}
  
.dimensao{
    width: 98%;
    height: 1470px;
}

.semCores{
    position: relative;
    height: 1100px;
}

.marca .linha img, 
.cores .linha img, 
.semCores .linha img,
.marca2 .linha img,
.dimensao .linha img

{
    width: 100%;
}

.marca .linhaB img, 
.cores .linhaB img, 
.semCores .linhaB img,
.marca2 .linhaB img,
.dimensao .linhaB img

{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.marca > p, .marca2 > p, .dimensao p{
    
    width: 90%;
    text-align: justify;
    font-size: 40px;
    margin: auto;
    margin-top: 60px;
}

.imagens{
    position: relative;
    width: 800px;
    height: 850px;
    padding: 40px;
    box-sizing: border-box;
    
    margin: auto;
}

.imagens .maior{
    animation-name: rodar;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    width: 450px;
    bottom: 10px;
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.cores{color: #af1e59;}

.cores .tocaquicores img{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width: 600px;
}

.semCores .semc img{
    width: 800px;
    margin: auto;
    margin-top: 150px;
    display: flex;
}

.cores p, .semCores p, .dimensao p{
    width: 80%;
    font-size: 40px;
    font-weight: normal;
    margin: auto;
    display: flex;
    margin-top: 150px;
}

.semCores p{
    margin-top: 150px;
}

.semc{color: #e5971s;}

.imagens2{
    margin: auto;    
}

.imagens2 > img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

.dimensao{
    height: 1170px;
}

.dimensao .dimens img{
    display: flex;
    margin: auto;
    margin-top: 90px;
    width: 680px;
}

@keyframes rodar {
    to{transform: rotate(0deg);}
    
    from{transform: rotate(360deg);}
}
